body {
    background-image: url("../images/bg4.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000hv;
    background-color: #f5f5f5;
    margin-bottom: 400px;
}
.box{
    height: 160px;
    width: 270px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    animation-name: box;
    animation-duration: 10s;
    
}
    .box h1{
        background-color: white;
        background-position: center;
        color: black;
        border: solid yellow;
        padding: 2px;
    }
@keyframes box {
    0%{
       background-image: url("../images/a1.webp");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
    }
    10%{
        background-image: url("../images/a2.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     20%{
        background-image: url("../images/a3.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     30%{
        background-image: url("../images/a4.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     40%{
        background-image: url("../images/a5.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     50%{
        background-image: url("../images/a6.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     60%{
        background-image: url("../images/a7.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     70%{
        background-image: url("../images/a8.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     80%{
        background-image: url("../images/a9.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     90%{
        background-image: url("../images/a10.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
     100%{
        background-image: url("../images/a12.webp");
        background-position: center;
        background-repeat: no-repeat;
         background-size: cover;
     }

    }
    
