
.header a{
    background-color: black;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    border: solid white;
    text-overflow: hidden;
    font-size: 25px;
    border: solid yellow;
}